<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>WebSocket</title>
</head>
<script th:inline="javascript">
    var send_id="";
    var send_id_array;
    var crowdsList;
    var result=[];

    function openchat(send_user_id) {
        document.getElementById("message").style.display="block";
        send_id_array=new Array([[${crowdsList.size()}]]);
        crowdsList=[[${crowdsList}]];

        send_id = send_user_id;
        for(var i=0;i<crowdsList.length;i++) {
            alert(crowdsList.get(i).getCrowd_id());
            var js = {};

            js.Crowd_id = js[i].getCrowd_id();
            if(js.Crowd_id.equals(send_id)) {
                send_id_array.add(js[i].getCrowd_member());
                result.push(js);
            }
        }


    }
    var id = [[${user_id}]];
    var websocket = null;

    //判断当前浏览器是否支持WebSocket
    if('WebSocket' in window){
        websocket = new WebSocket("ws://localhost:8080/WebSocket/"+id);
    }
    else{
        alert('Not support websocket')
    }

    //连接发生错误的回调方法
    websocket.onerror = function(){
        setMessageInnerHTML("error");
    };

    //连接成功建立的回调方法
    websocket.onopen = function(event){
        setMessageInnerHTML("open");
    }

    //接收到消息的回调方法
    websocket.onmessage = function(event){
        setMessageInnerHTML(event.data);
    }

    //连接关闭的回调方法
    websocket.onclose = function(){
        setMessageInnerHTML("close");
    }

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function(){
        websocket.close();
    }

    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML){
        document.getElementById('message').innerHTML += innerHTML + '<br/>';
    }

    //关闭连接
    function closeWebSocket(){
        websocket.close();
    }

    //发送消息
    function send(){
        if(send_id<1000) {
            var message = document.getElementById('text').value;
            var Finmessage = message + "|" + send_id;
            websocket.send(Finmessage);
        }
        else{

            var message = document.getElementById('text').value;
                alert(send_id);

        }
    }

</script>
<body>
<div id="message" style="text-align: center;display: none">
    <br>
    <input id="text" type="text" /><br>
    <button onclick="send()">发送</button><br>
</div>

<p th:text="'欢迎您！用户： ' + ${user_id} + '!'" ></p>
<table>
    <h1>好友列表</h1>
    <th>用户名</th>
    <th>昵称</th>
    <th>年龄</th>
    <th>性别</th>
    <th>注册时间</th>
    <th>备注</th>
<tr th:each="friend : ${userfriendList}">
    <td><a  th:href="@{'javascript:openchat('+${friend.getUser_id()}+')'}"  th:text="${friend.getUser_id()}">Title ...</a></td>
    <td><a href="#" th:text="${friend.getUser_nickname()}">Title ...</a></td>
    <td><a href="#" th:text="${friend.getUser_age()}">Title ...</a></td>
    <td><a href="#" th:text="${friend.getUser_sex()}">Title ...</a></td>
   <td><a href="#" th:text="${friend.getUser_registime()}">Title ...</a></td>
    <td><a href="#" th:text="${friend.getUser_comments()}">Title ...</a></td>
</tr>
</table>
<table>
    <h1>群列表</h1>
    <th>群id</th>
    <tr th:each="crowds : ${crowdsList}">
        <td><a  th:href="@{'javascript:openchat('+${crowds.getCrowd_id()}+')'}"  th:text="${crowds.getCrowd_id()}">Title ...</a></td>
    </tr>
</table>
<div id="ww"></div>

</body>
</html>