<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>WebSocket</title>
</head>

<body>
<script th:inline="javascript" th:src="@{/js/chatjs.js}"></script>
<script th:inline="javascript">
    var fromuser_id;
    var id = [[${user_id}]];
    var websocket = null;

    //判断当前浏览器是否支持WebSocket
    if('WebSocket' in window){
        websocket = new WebSocket("ws://localhost:8080/WebSocket/"+id);
    }
    else{
        alert('Not support websocket')
    }

    //连接发生错误的回调方法
    websocket.onerror = function(){
        setMessageInnerHTML("error");
    };

    //连接成功建立的回调方法
    websocket.onopen = function(event){
        setMessageInnerHTML("open");
    }

    //接收到消息的回调方法
    websocket.onmessage = function(event) {
        var message = event.data;
        var Message = message.split("|");
        if (Message.length == 4 && Message[0] < 100000) {//处理聊天消息
            var tag = Message[2];
            switch (tag) {
                case '100001':
                    var realmessage = Message[1];
                    var fromuserid = Message[0];
                    var Finmessage = "<div>" + "用户" + fromuserid + ":  " + realmessage + "</div>"
                    setMessageInnerHTML(Finmessage);
                    break;

            }
        }
        else if (Message.length == 3 && Message[0] < 100000) {//处理操作消息
            var tag = Message[1];
            switch (tag) {
                case '100003':
                    var fromuserid = Message[0];
                    var senduserid = Message[2];
                    var Finmessage = "<div>" + "用户" + fromuserid + ":  请求加您为好友！" + "</div>" + " <a href='javascript:agree()'>同意</a><a href='javascript:reject()'>拒绝</a><br/>";
                    fromuser_id = fromuserid;
                    setAddMessageInnerHTML(Finmessage)
                    break;
                case '100004':
                    var fromuserid = Message[0];
                    var senduserid = Message[2];
                    var Finmessage = "<div>" + "用户" + fromuserid + ": 和您已加为好友！" + "</div>" + "<button onclick='location.reload()'>确认</button>";
                    fromuser_id = fromuserid;
                    setAddMessageInnerHTML(Finmessage)
                    break;
                case '100008':
                    var fromuserid = Message[0];
                    var senduserid = Message[2];
                    var Finmessage = "<div>" + "用户" + fromuserid + ": 拒绝加您为好友！" + "</div>" + "<button onclick='location.reload()'>确认</button>";
                    fromuser_id = fromuserid;
                    setAddMessageInnerHTML(Finmessage);
                    break;
            }
        }
        else if (Message.length == 8 && Message[0] < 100000) {//查询到的好友
            var tag = Message[1];
            if (tag == '100010') {
                var findfriendid = Message[2];
                var findfriendnickname = Message[3];
                var findfriendage = Message[4];
                var findfriendsex = Message[5];
                var findfriendregistime = Message[6];
                var findfriendcomments = Message[7];
                var Finmessage = "<div>" + "用户:" + findfriendid + "基本信息：" + "<br>" +
                    "昵称: " + findfriendnickname + "<br>" +
                    "年龄: " + findfriendage + "<br>" +
                    "性别: " + findfriendsex + "<br>" +
                    "注册时间: " + findfriendregistime + "<br>" +
                    "印象和评价: " + findfriendcomments + "<br>" + "</div>";
                setAddMessageInnerHTML(Finmessage);
            }
        }
        else if (Message[0] > 100000) {//查询到的好友
            var tag = Message[0];
            if (tag == '1000012') {
                var crowdid = Message[2];
                var crowdowner = Message[3];
                var Finmessage = "<div>" + "群:" + crowdid + "基本信息：" + "<br>" +
                    "群主: " + findfriendnickname + "<br>" +
                    "群成员: " + "<br>";
                for (var i = 4; i < Message.length; i++) {
                    Finmessage = Finmessage + "用户名：" + Message[i] + "<br>";
                }
                setCrowdMessageInnerHTML(Finmessage);
            }
            else if (tag == '100002') {
                var realmessage = Message[2];
                var fromuserid = Message[1];
                var Finmessage = "<div>" + "用户" + fromuserid + ":  " + realmessage + "</div>";
                setCrowdMessageInnerHTML(Finmessage);
            }
            else if (tag == '100016') {
                var crowdid = Message[2];
                var crowdowner = Message[3];
                var Finmessage = "<div>" + "群:" + crowdid + "基本信息：" + "<br>" +
                    "群主: " + findfriendnickname + "<br>" +
                    "群成员: " + "<br>";
                for (var i = 4; i < Message.length; i++) {
                    Finmessage = Finmessage + "用户名：" + Message[i] + "<br>";
                }
                setAddMessageInnerHTML(Finmessage);
            }


            //fromuser_id = message.split("|")[1];
            //setAddMessageInnerHTML(message.split("|")[0]+message.split("|")[1]+message.split("|")[2]);
        }
    }
    //连接关闭的回调方法
    websocket.onclose = function(){
        setMessageInnerHTML("close");
    }
    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function(){
        websocket.close();
    }
</script>

<div id="message" style="text-align: center;display: none">
    <br>
    <input id="text" type="text" /><br>
    <button onclick="send()">发送</button><br>
</div>

<p th:text="'欢迎您！用户： ' + ${user_id} + '!'" ></p>
<div id="addmessage">
    添加好友id:<input id="addtext" type="text"><br>
               <button onclick="findfriend()">查询</button><br>
               <button onclick="addsend()"  >发送请求</button><br>
</div>
<div id="addcrowdmessage">
添加群id:<input id="addcrowdtext" type="text"><br>
<button onclick="findcrowd(document.getElementById('addcrowdtext').value)">查询群资料</button><br>
<button onclick="addcrowdsend()"  >发送请求</button><br>
</div>
<div id="crowdmessage"  style="text-align: right;display: none">
    <br>
    <input id="crowdtext" type="text" /><br>
    <button onclick="send()">发送</button><br>
</div>
<table>
    <h1>好友列表</h1>
    <th>用户名</th>
    <th>昵称</th>
    <th>年龄</th>
    <th>性别</th>
    <th>注册时间</th>
    <th>备注</th>
<tr th:each="friend : ${userfriendList}">
    <td><a  th:href="@{'javascript:openchat('+${friend.getUser_id()}+')'}"  th:text="${friend.getUser_id()}">Title ...</a></td>
    <td><a href="#" th:text="${friend.getUser_nickname()}">Title ...</a></td>
    <td><a href="#" th:text="${friend.getUser_age()}">Title ...</a></td>
    <td><a href="#" th:text="${friend.getUser_sex()}">Title ...</a></td>
   <td><a href="#" th:text="${friend.getUser_registime()}">Title ...</a></td>
    <td><a href="#" th:text="${friend.getUser_comments()}">Title ...</a></td>
</tr>
</table>
<table>
    <h1>群列表</h1>
    <th>群id</th>
    <tr th:each="crowds : ${crowdsList}">
        <td><a  th:href="@{'javascript:opencrowdchat('+${crowds.getCrowd_id()}+')'}"  th:text="${crowds.getCrowd_id()}">Title ...</a></td>
    </tr>
</table>
<div id="ww"></div>
<script  th:src="@{/js/commons.js}"></script>
<script th:src="@{/js/jquery-1.8.3.min.js}"></script>

</body>

</html>