<!doctype html>

<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">

<head>
<meta charset="utf-8">
<title>在线聊天主界面</title>
</head>

	
<body>
<script th:inline="javascript" th:src="@{/js/chatjs.js}"></script>

	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/js/jquery-1.8.3.min.js"></script>
	<script src="/js/commons.js"></script>
	<script src="/js/show.js"></script>
    <script th:inline="javascript" th:src="@{/js/chatjs.js}"></script>
<!--	<link rel="stylesheet" type="text/css" href="https://web2.qq.com/css/mq.css">-->
	<link rel="stylesheet" type="text/css" href="/css/qqicon.css">
	

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	
<!--	<link rel="stylesheet" type="text/css" href="http://222.204.3.154/static/bootstrap/css/bootstrap.css" media="screen">-->
<!--	<link rel="stylesheet" type="text/css" href="http://222.204.3.154/static/css/main.css">-->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--	<link rel="stylesheet" type="text/css" href="../css/footer.css">-->
	<link rel="stylesheet" type="text/css" href="/css/3d.css">

<!--头部设计	-->
<!--
	<nav>
  <div class="container">
    <h1>Doc</h1>
    <div id="menu">
      <ul class="toplinks">
        <li><a href="#">Opineo Website </a></li>
        <li><a href="http://www.egrappler.com/">eGrappler</a></li>
        <li><a href="../doc-template/docs.html">Blue Theme</a></li>
        <li><a href="../doc-template-red/docs.html">Red Theme</a></li>
      </ul>
    </div>
    <a id="menu-toggle" href="#" class=" ">&#9776;</a> </div>
</nav>
-->
	<div class="header">
		<div class="wrapper"></div>
		
<!--
		<header>
 		 <div class="container">
   		 <h2 class="docs-header"> Opineo - User Documentation</h2>
		  </div>
		</header>
-->
		
		<div class="head_string">
			<span data-text=""></span>
            <span data-text=""></span>
			<span data-text="网">网</span>
			<span data-text="页">页</span>
			<span data-text="在">在</span>
			<span data-text="线">线</span>
            <span data-text="聊">聊</span>
            <span data-text="天">天</span>
            <span data-text="系">系</span>
            <span data-text="统">统</span>
		</div>
		
	
	</div>
<!--	添加右边动态设计-->
	
		
<!--	菜单功能-->
	<div class="menu_c">
		<button onClick="openaddfriend()" class="btn-bt">添加好友和群</button>

		<button onClick="" class="btn-bt">查看资料</button>
        <button type="submit" onClick="" class="btn-bt">设置</button>
        <button onClick="" class="btn-bt">关于我们</button>
		<button onClick="" class="btn-bt">注销</button>
	</div>

<div id="addcrowdmessage"  style="visibility: hidden">
    添加群id:<input id="addcrowdtext" type="text"><br>
    <button onclick="findcrowd(document.getElementById('addcrowdtext').value)">查询群资料</button><br>
    <button onclick="addcrowdsend()"  >发送请求</button><br>
</div>
	
	<!-- 中部分割线-->
	 <div class="span1">
            <img src="/image/middle.png" class="middle">
     </div>
	
<!--	头像以及昵称-->
	<div class="head_portait">
	<a href="#" onclick=""  title="显示资料" ><img src="/image/head_test.png" class="head_photo" alt="头像"></a>
	<div  th:text="'用户： ' + ${user_id} " class="head_name"></div>
	</div>

<script>
    function openuser_infor() {
        window.open("/user_infor");
    }
</script>

<!--	添加好友，添加群-->
<div id="addmessage" class="infor_addfriends" style="visibility: hidden;">
    <input id="addtext" type="text" placeholder="请输入id"  class="add_inp"><button type="button" onClick="findfriend()" class="add_btn">查询</button>
    <a href="#">
        <div id="show_infor_addfriends" class="show_infor_addfriends">
            <img src="/image/head_test.png" alt="头像" class="addfriends_img">
            <div  id="addfriends_name" class="addfriends_name"></div>
            <div  id="addfriends_age" class="addfriends_age"></div>
        </div>
    </a>
    <button type="button" onClick="addsend()" class="add_btn tj-l">添加</button>
    <button type="button" onClick="get_info()" class="add_btn qx-l">取消</button>
</div>










	
<!--	扩展功能-->
	<div class="icons_list icons_set">
		<a href="https://qzone.qq.com" class="i_qzone" target="_blank" title="QQ空间">QQ空间</a>
		<a href="https://mail.qq.com" class="i_mail" target="_blank" title="QQ邮箱">QQ邮箱</a>
		<a href="https://t.qq.com" class="i_weibo" target="_blank" title="腾讯微博">腾讯微博</a>
		<a href="https://v.qq.com" class="i_video" target="_blank" title="腾讯视频">腾讯视频</a>
		<a href="https://www.qq.com" class="i_qqwebsite" target="_blank" title="腾讯网">腾讯网</a>
		<a href="https://y.qq.com" class="i_music" target="_blank" title="QQ音乐">QQ音乐</a>
		<a href="https://wallet.tenpay.com/web/" class="i_wallet" target="_blank" title="QQ钱包">QQ钱包</a>
		<a href="https://www.pengyou.com" class="i_pengyou" target="_blank" title="朋友网">朋友网</a>
		<a href="https://www.weiyun.com" class="i_weiyun" target="_blank" title="微云">微云</a>
	</div>
	
<!--	好友列表-->
	
<!--	<iframe src="show_friends.html" allowtransparency="true" id="show_friends" class="show_friends_set"></iframe>-->
<script language="javascript">
    var sendid;//传输到聊天框里的id
    function show1() {
        document.getElementById("friend").style.visibility = "visible";
        document.getElementById("cluster").style.visibility = "hidden";
        document.getElementById("history").style.visibility = "hidden";

    }
    function show2() {
        document.getElementById("friend").style.visibility = "hidden";
        document.getElementById("cluster").style.visibility = "visible";
        document.getElementById("history").style.visibility = "hidden";
        // document.getElementById("friend").innerHTML="";
    }
    function show3() {
        document.getElementById("friend").style.visibility = "hidden";
        document.getElementById("cluster").style.visibility = "hidden";
        document.getElementById("history").style.visibility = "visible";
        // document.getElementById("friend").innerHTML="";
    }
    function group(index) {


        var sss=document.getElementById('list_ul'+index).style.display;

        if(sss=="block")
            document.getElementById('list_ul'+index).style.display="none";
        if(sss=="none")
            document.getElementById('list_ul'+index).style.display="block";
    }
    function group_a(index) {


        var sss=document.getElementById('clusters_ul'+index).style.display;

        if(sss=="block")
            document.getElementById('clusters_ul'+index).style.display="none";
        if(sss=="none")
            document.getElementById('clusters_ul'+index).style.display="block";
    }
</script>
	<link rel="stylesheet" type="text/css" href="/css/friends.css">
<div id="show_friends" class="show_friends_set">


    <div class="chatbox">



            <div class="topmenu">
                <button class="top_button" onClick="show1()">好友</button>
                <button class="top_button" onClick="show2()">群</button>
                <button class="top_button" onClick="show3()">历史</button>
            </div>
            <div class="fenge"></div>
        <div  class="friendslist">
            <div  class="friends abl"  id="friend">
<div th:each="userhash: *{usermap}">

                <button th:text="${userhash.key}" class="list_button" id="list_button" th:onClick="@{'group(\''+${userhash.key}+'\')'}">我的好友</button>

                <div  th:id="'list_ul'+${userhash.key}" style="display:none">
                    <div  th:each="user : ${userhash.value}">
                    <div  class="friend sav">

                        <img src="image/head_test.png" class="imgaa1" onMouseOver="mouse_show('1','2','sdgdfg得分sfg1234我')" onMouseOut="mouse_gone()" onclick="show_infor_ga()"/>
                        <a  th:href="@{'javascript:openchat('+${user.getUser_id()}+')'}">
                        <div class="pp1">
                            <strong th:text="${user.getUser_nickname()}"></strong><br>
                            <span th:text="${user.getUser_id()}"></span>
                        </div>
                        </a>
                     </div>
                    </div>
                  </div>

</div>
              </div>
              <div class="clusters abl" id="cluster">

                  <button class="list_button" onClick="group_a(1)">群</button>
                  <div id="clusters_ul1"style="display:none">
                      <div  th:each="crowds : ${crowdsList}" class="friend sav">
                          <img src="image/head_test.png" class="imgaa1"/>
                          <a  th:href="@{'javascript:openchat('+${crowds.getCrowd_id()}+')'}" >
                          <div class="pp1">
                              <strong>多人聊天</strong><br>
                              <span th:text="${crowds.getCrowd_id()}"></span>
                          </div>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="historys abl" id="history">
                 <!--历史消息-->

              </div>

              <!--	鼠标悬停框-->
            <div id="show_div" style="display: none">
                年龄：<b id="show_div_age"></b><br>
                生日：<b id="show_div_borth"></b><br>
                好友印象：<br><b id="show_div_yinxiang"></b><br>
                <br><a href="javascript:show_infor_ga()" target="_blank">查看详情</a>
            </div><!--	鼠标悬停框-->
        </div>
    </div>

</div><!--	好友列表-->



<script>
    function mouse_show(age,borth,yinxaing){
        var showDiv = document.getElementById('show_div');
        showDiv.style.left = (event.clientX-90)+"px";
        showDiv.style.top = (event.clientY-240)+"px";
        showDiv.style.display = 'block';
        document.getElementById('show_div_age').innerHTML=age;
        document.getElementById('show_div_borth').innerHTML=borth;
        document.getElementById('show_div_yinxiang').innerHTML=yinxaing;

    }
    function mouse_gone(){

        setTimeout( function(){document.getElementById('show_div').style.display = 'none';}, 3 * 1000 );
    }
</script>








<iframe src="/load_1" allowtransparency="true" scrolling="no" id="show_ana" class="show_others_set"></iframe>
	
	<!--	聊天界面，信息资料显示-->
	<div id="show_others" class="show_others_set">
	
		
		<link rel="stylesheet" type="text/css" href="/css/others.css">
<!--	<script src="../js/others.js"></script>-->
	
<script>
    function mytime(){
        var a = new Date();
        var b = a.toLocaleTimeString();
        var c = a.toLocaleDateString();
        document.getElementById("time1").innerHTML = c+"&nbsp"+b;
        }
    setInterval(function() {mytime()},1000);
    function downloadchat(fromuserid) {
        window.open("/DownloadServlet?fromid="+id+"&&sendid="+fromuserid);
    }
</script>
<!--		<div id="oth_mess" style="visibility: hidden;">-->
<div id="container"  >
        <div class="header11">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
             <span id="time1" style="color: blueviolet;text-align:left;"></span>
        </div>
<div style="position:absolute;left:200px;" >

<button  value="下载聊天记录" style="background:lawngreen;" onclick="downloadchat(sendid)">下载聊天记录</button>

</div>   
	
        <ul class="content" id="mess">

        </ul>   
		
        <div id="foot" class="footer">
            <div id="user_face_icon">   
                <img src="/image/1.jpg" alt="" class="img01">
            </div>   
            <input id="text" type="text" placeholder="说点什么吧..." >   
            <span id="btn">发送</span>   
        </div>   
    </div> 
<div style="position:absolute;top:42px;left:406px;" class="oldnews" id="crowdmember">




</div>
		
<!--		</div>-->
	</div>
	
		
<script th:inline="javascript">
    var fromuser_id;
    var id = [[${user_id}]];
    var websocket = null;
    //判断当前浏览器是否支持WebSocket
    if('WebSocket' in window){
        websocket = new WebSocket("ws://localhost:8080/WebSocket/"+id);
    }
    else{
        alert('Not support websocket')
    }

    //连接发生错误的回调方法
    websocket.onerror = function(){
        setMessageInnerHTML("error");
    };

    //连接成功建立的回调方法
    websocket.onopen = function(event){
        var Findinlinemessage=id+"|"+"100017";
        websocket.send(Findinlinemessage);
    }

    //接收到消息的回调方法
    websocket.onmessage = function(event) {

        var message = event.data;
        var Message = message.split("|");
        if (Message.length == 4 && Message[0] < 100000) {//处理聊天消息
            var tag = Message[2];
            switch (tag) {
                case '100001':
                    var realmessage = Message[1];
                    var fromuserid = Message[0];
                    var Finmessage = "<li><img  src='+arrIcon[1]+' class='imgleft img01'><span class='spanleft'>"+realmessage+"</span></li>";
                    setMessageInnerHTML(Finmessage,fromuserid);
                    sethistoryMessageInnerHTML(fromuserid,realmessage.substring(0,6));
                    break;
            }
        }
        else if (Message.length == 3 && Message[0] < 100000) {//处理操作消息
            var tag = Message[1];
            switch (tag) {
                case '100003':
                    var fromuserid = Message[0];
                    var senduserid = Message[2];
                    var Finmessage =   "用户" + fromuserid + ":  请求加您为好友！" ;
                    fromuser_id = fromuserid;
                    setAddMessageInnerHTML(fromuserid,Finmessage);
                    break;
                case '100004':
                    var fromuserid = Message[0];
                    var senduserid = Message[2];
                    var Finmessage =  "用户" + fromuserid + ": 和您已加为好友！" ;
                    fromuser_id = fromuserid;
                    sethistoryMessageInnerHTML(fromuserid,Finmessage);
                    break;
                case '100008':
                    var fromuserid = Message[0];
                    var senduserid = Message[2];
                    var Finmessage =  "用户" + fromuserid + ": 拒绝加您为好友！";
                    fromuser_id = fromuserid;
                    sethistoryMessageInnerHTML(fromuserid,Finmessage);
                    break;
            }
        }
        else if (Message.length == 8 && Message[0] < 100000) {//查询到的好友
            var tag = Message[1];
            if (tag == '100010') {
                var findfriendid = Message[2];
                var findfriendnickname = Message[3];
                var findfriendage = Message[4];
                var findfriendsex = Message[5];
                var findfriendregistime = Message[6];
                var findfriendcomments = Message[7];

               /* var Finmessage = "<div>" + "用户:" + findfriendid + "基本信息：" + "<br>" +
                    "昵称: " + findfriendnickname + "<br>" +
                    "年龄: " + findfriendage + "<br>" +
                    "性别: " + findfriendsex + "<br>" +
                    "注册时间: " + findfriendregistime + "<br>" +
                    "印象和评价: " + findfriendcomments + "<br>" + "</div>";*/
               findfriendnickname="昵称："+findfriendnickname;
               findfriendage="年龄:"+findfriendage;
              setshow_infor_addfriendsMessageInnerHTML(findfriendnickname,findfriendage);
            }
        }
        else if (Message[0] > 100000) {//查询到的好友
            var tag = Message[0];
            if (tag == '1000012') {
                var crowdid = Message[2];
                var crowdowner = Message[3];
               var Finmessage =""+ '<ul>';
                for (var i = 4; i < Message.length; i++) {
                    Finmessage = Finmessage + '<li><img src="/image/head_test.png" id="1" class="qun_info_img"><div id="20" class="qun_info_id">'+Message[i]+'</div></li>';
                }
               Finmessage=Finmessage+'<ul>';
                setcrowdMemberInnerHTML(Finmessage,crowdid);
            }
            else if (tag == '100002') {
                var realmessage = Message[2];
                var fromuserid = Message[1];
                var Finmessage = "<li><img  src='+arrIcon[1]+' class='imgleft img01'>"+fromuserid+":<span class='spanleft'>"+realmessage+"</span></li>";
                setMessageInnerHTML(Finmessage,fromuserid);
            }
            else if (tag == '100016') {
                var crowdid = Message[2];
                var crowdowner = Message[3];
                /*var Finmessage = "<div>" + "群:" + crowdid + "基本信息：" + "<br>" +
                    "群主: " + findfriendnickname + "<br>" +
                    "群成员: " + "<br>";
                for (var i = 4; i < Message.length; i++) {
                    Finmessage = Finmessage + "用户名：" + Message[i] + "<br>";
                }*/
                crowdid="群id:"+crowdid;
                crowdowner="群主id"+crowdowner;
                setshow_infor_addfriendsMessageInnerHTML(crowdid,crowdowner);
            }
            else if(tag=='100006'){
                var fromuserid = Message[1];
                var crowdid=Message[2];
                var Finmessage =  "用户" + fromuserid + ":  请求加群" +crowdid ;
                fromuser_id=fromuserid;
                crowd_id=crowdid
                setAddMessageInnerHTML(fromuserid,Finmessage)
            }
            else if(tag=='100007'){
                var crowdid=Message[2];
                Finmessage =  "您已加入群" + crowdid ;
                setAddMessageInnerHTML(crowdid,Finmessage);
            }
            else if(tag=='100014'){
                var crowdid=Message[2];
                Finmessage = "您已被拒绝加入群" + crowdid ;
                setAddMessageInnerHTML(crowdid,Finmessage)
            }
            else if(tag=='100019'){
                if(Message[5]=='1'){
                    var realmessage = Message[2];
                    var fromuserid = Message[4];
                    if(Message[4]!=id) {
                         fromuserid = Message[4];
                    }
                    else{
                        fromuserid=Message[1];
                    }


                    var Finmessage = "<li><img src='+arrIcon[1]+' class='imgright img01'><span class='spanright'>"+realmessage+"</span></li>";
                    setMessageDocumentInnerHTML(Finmessage,fromuserid);
                }
                else if(Message[5]=='2'){
                    var realmessage = Message[2];
                    var fromuserid = Message[4];
                    if(Message[4]!=id) {
                         fromuserid = Message[4];
                    }
                    else{
                         fromuserid=Message[1];
                    }
                    var Finmessage = "<li><img  src='+arrIcon[1]+' class='imgleft img01'><span class='spanleft'>"+realmessage+"</span></li>";
                    setMessageDocumentInnerHTML(Finmessage,fromuserid);
                }
            }
            //fromuser_id = message.split("|")[1];
            //setAddMessageInnerHTML(message.split("|")[0]+message.split("|")[1]+message.split("|")[2]);
        }//群消息群操作
        else if(Message.length==5&&Message[0]<100000){//离线消息发送
            var realmessage = Message[1];
            var fromuserid = Message[0];
            fromuser_id=fromuserid;
            var Finmessage = "<a href='#' onclick='setinlinemessageonline(fromuser_id)'><li>在您离线时::用户:"+fromuserid+"说：<span class='spanleft'>"+realmessage+"</span></li><a>"
            setinlineMessageInnerHTML(Finmessage);
            sethistoryMessageInnerHTML(fromuserid,realmessage);
        }
    }
    function setinlinemessageonline(fromuserid) {
        var fromAndto=fromuserid+"|"+id;
        $.ajax({
            url:"/MessagesController/setInlineMessageOnline",
            data:{'fromAndto':fromAndto},
            type : 'post',
            traditional : true,
            async : false,
            success:function(){
                location.reload();//
            },
            error : function(){
                alert(fromuserid+'error');
            }
        });
    }
    //将信息显示在页面上
    function setMessageDocumentInnerHTML(innerHTML,fromuserid) {
        document.getElementById('mess').innerHTML+=innerHTML;
        document.getElementById('sendid').innerHTML=fromuserid;
        sendid=fromuserid;
        mess.scrollTop=mess.scrollHeight;
    }
    function setcrowdMemberInnerHTML(Finmessage,crowdid){
        document.getElementById('crowdmember').innerHTML="";
        document.getElementById('crowdmember').innerHTML+=Finmessage;
    }
    function setMessageInnerHTML(innerHTML,fromuserid) {
        document.getElementById('mess').innerHTML +=innerHTML;
        document.getElementById('sendid').innerHTML=fromuserid;
        mess.scrollTop=mess.scrollHeight;
    }
    function setinlineMessageInnerHTML(innerHTML) {
        document.getElementById('show_info').style.visibility="visible";
        document.getElementById('show_info').innerHTML +=innerHTML;
    }
    function setshow_infor_addfriendsMessageInnerHTML(findfriendnickname,findfriendage) {
        document.getElementById('addfriends_name').innerHTML=findfriendnickname;
        document.getElementById('addfriends_age').innerHTML=findfriendage;
    }
    function sethistoryMessageInnerHTML(fromuserid,realmessage) {
       var oldmessage= document.getElementById('history').innerHTML ;

       var mess=""+
    '<div class="history" id="historya"><div class="friend sav">'+
            '<a href="javascript:openchat(\''+ fromuserid+'\' )"><img src="image/head_test.png" class="imgaa1"/>'+
            '<div class="pp1">'+
            '<strong>'+fromuserid+'</strong><br>'+
            '<span>'+realmessage.substring(0,12)+'</span>'+
            '</div></a></div></div>';

        // document.getElementById('history').innerHTML=innerHTML+oldmessage;

        document.getElementById('history').innerHTML=mess+oldmessage;
    }
    function  setAddMessageInnerHTML(fromuserid,realmessage) {
        var oldmessage= document.getElementById('history').innerHTML ;

        var mess=""+ '<div class="friend sav"> <a> <img src="/image/head_test.png" class="imgaa1"/> <div class="pp1">'+
            '<strong>'+fromuserid+'</strong><br><span>'+realmessage+'</span></div></a>'+
            '<div class="infor_new">'+
            '<button type="button" class="infor_new_btn" onClick="agree()">同意</button>'+
            '<button type="button" class="infor_new_btn" onClick="rejected()">拒绝</button>'
           + '</div></div>';

        // document.getElementById('history').innerHTML=innerHTML+oldmessage;

        document.getElementById('history').innerHTML=mess+oldmessage;
    }
    function  setCrowdMessageInnerHTML(innerHTML) {
        document.getElementById('mess').innerHTML += innerHTML ;
    }

    //关闭连接
    function closeWebSocket(){
        websocket.close();
    }
    //连接关闭的回调方法
    websocket.onclose = function(){
        setMessageInnerHTML("close");
    }
    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    //window.onbeforeunload = function(){
      //  websocket.remove(send_id);
    //}
    var crowd_id;
        window.onload = function(){ 
	var anopeople=document.getElementById('anopeople');
            var arrIcon = ['/image/1.jpg','/image/2.jpg'];
            var num = 0;   //  <!--控制头像改变-->    
            var iNow = -1;   // <!--用来累加改变左右浮动-->    
            var icon = document.getElementById('user_face_icon').getElementsByTagName('img');    
            var btn = document.getElementById('btn');    
            var text = document.getElementById('text');





	btn.onclick = function(){
        if (send_id < 1000) {//单聊
            var message = document.getElementById('text').value;
            var Finmessage = id+"|"+message + "|" +"100001"+"|"+ send_id;
            if(text.value ==''){
                alert('不能发送空消息');
            }else {
                var ll=text.value.length/15;
                var aab="";
                for(var i=0;i<ll; i++)
                {
                    aa=text.value.substring(i*15,(i+1)*15)+"<br>";
                    aab+=aa;

                }
                mess.innerHTML += '<li><img src="'+arrIcon[num]+'"class="imgright img01"><span class="spanright">'+message+'</span></li>';

                text.value = '';
                mess.scrollTop=mess.scrollHeight;
                websocket.send(Finmessage);
        }
        }
        else {//群聊
            var message = document.getElementById('text').value;
            var Finmessage = "100002" + "|" +id+"|"+message+"|"+send_id;
            if(text.value ==''){
                alert('不能发送空消息');
            }else {
                var ll=text.value.length/20;
                var aab="";
                for(var i=0;i<ll; i++)
                {
                    aa=text.value.substring(i*20,(i+1)*20)+"<br>";
                    aab+=aa;

                }
                mess.innerHTML += '<li><img src="'+arrIcon[num]+'"class="imgright img01"><span class="spanright">'+message+'</span></li>';

                text.value = '';
                mess.scrollTop=mess.scrollHeight;
                websocket.send(Finmessage);
            }
        }

//     	<!-- 内容过多时,将滚动条放置到最底端 -->
   

                }  
            }
    </script>
	
	
<!--	<iframe src="file:///C:/Users/zheng/Desktop/4.html" allowtransparency="true" scrolling="no" id="show_others" class="show_others_set"></iframe>-->

	
	<a href="javascript:shutdown()" id="shutdown" class="shut_down" title="关闭"></a>
	
	
	
<!--	信息提示框显示-->
<!--	<iframe src="show_info.html" allowtransparency="true" id="show_info" class="show_info_set"></iframe>-->
	<div id="show_info" class="show_info_set">

    </div>
<!--	右侧公告设置-->
	<div class="gonggao">
	
	<fieldset>
		<legend class="gg-font">
		公告
		</legend>	
		<label class="ggnr-font">
		<marquee direction="up" behavior="scroll" scrollamount="2" loop="-1" 
				 width="200px" height="300px">
                 <b>制作人</b><br>
                     <p style="font-family: 楷体;text-align: center">曹宇翔</p>
                     <p style="font-family: 楷体;text-align: center"> 陈军晔</p>
                     <p style="font-family: 楷体;text-align: center">李银秋</p>
                     <p style="font-family: 楷体;text-align: center"> 郑梓熙</p>
                     <p style="font-family: 楷体;text-align: center">李晨</p>
                     <p style="font-family: 楷体;text-align: center">（也没有什么特别的</p>
                     <p style="font-family: 楷体;text-align: center">就是有点帅！）</p>
			<a href="https://www.baidu.com" target="_blank">点击百度</a>
		</marquee>
		</label>
	</fieldset>
	</div>
	
	
	
	
	
	
	<footer>
	
	南昌大学计算机科学与技术162班@2018
	</footer>





<!--	资料卡片-->
<link rel="stylesheet" type="text/css" href="../css/infor.css">

<div id="show_infor_gt" class="show_others_set" style="visibility: hidden;">


    <div id="user_id" class="user_id">id</div>

    <img src="../image/head_test.png" class="img-thumbnail user_image" alt="头像">


    <div class="form-horizontal form01" role="form" id="">
        <div class="form-group">
            <label class="col-sm-2 control-label">昵称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control input01" id="user_name" value="ss" readonly="true">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">性别</label>
            <div class="col-sm-10">
                <input type="text" class="form-control input01" id="user_sex" value="ss" readonly="true">
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">年龄</label>
            <div class="col-sm-10">
                <input type="text" class="form-control input01" id="user_age" value="ss" readonly="true">
            </div>
        </div>
        <div class="loc01">
            <div class="form-group">
                <label class="col-sm-2 control-label">生日</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control input01" id="user_borth" value="ss" readonly="true">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">E-mail</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control input01" id="user_email" value="ss" readonly="true">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">印象</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control input01" id="user_yinxiang" value="ss" readonly="true">
                </div>
            </div>
        </div>
        <div class="btn-lo">
            <input type="button" onClick="bianji()" value="编辑资料" class="btn-bt_1">
            <br><br>
            <input type="submit" value="提交" class="btn-bt_1" id="change" style="visibility: hidden;">
            <!--			<br><br><input type="reset" value="重置" class="btn-bt_1">-->
        </div>
        <div class="img-lo">
            <button type="button" id="user_img" class="btn-bt_1" style="visibility: hidden;">更改头像</button>
        </div>

    </div>
    <div class="bj">
        <button onClick="chongzhi()" class="btn-bt_1" id="cz" style="visibility: hidden;">重置</button>
    </div>
</div>
<script language="javascript">
    function bianji(){
        document.getElementById("change").style.visibility="visible";
        document.getElementById("cz").style.visibility="visible";
        document.getElementById("user_img").style.visibility="visible";
        document.getElementById("user_name").readOnly=false;
        document.getElementById("user_sex").readOnly=false;
        document.getElementById("user_age").readOnly=false;
        document.getElementById("user_borth").readOnly=false;
        document.getElementById("user_email").readOnly=false;
        document.getElementById("user_yinxiang").readOnly=false;
    }
    function chongzhi(){
        document.getElementById("user_img").value="";
        document.getElementById("user_name").value="";
        document.getElementById("user_sex").value="";
        document.getElementById("user_age").value="";
        document.getElementById("user_borth").value="";
        document.getElementById("user_email").value="";
        document.getElementById("user_yinxiang").value="";

    }
</script>
<!--	资料卡片-->








<script>

//		$(document).ready(function (){
//			
////			document.getElementById("show_friends").innerHTML="121";
//			
//		});
		
		function get_oth_mess(){
			var a=$("#oth_mess").html();
			
			return a;
		}
		
	//function show_info_get(){
		//document.getElementById("show_info").style.visibility="visible";
		//设值
		//五秒后消失
		//setTimeout( function(){document.getElementById("show_info").style.visibility="hidden";}, 5 * 1000 );
		
	//}
	
	 function show_others() {
    document.getElementById("show_others").style.visibility="hidden";
    document.getElementById("show_infor_gt").style.visibility="hidden";
    document.getElementById("show_ana").style.visibility="visible";
    setTimeout( function(){
        document.getElementById("show_ana").style.visibility="hidden";
        document.getElementById("show_others").style.visibility="visible";
        document.getElementById("shutdown").style.visibility="visible";
//       
//		ss=get_oth_mess();
//                document.getElementById("show_others").innerHTML = ss;
          
    }, 1.2 * 1000 );
}
		function shutdown(){
			document.getElementById("shutdown").style.visibility="hidden";
			document.getElementById("show_others").style.visibility="hidden";
            document.getElementById("show_infor_gt").style.visibility="hidden";
            document.getElementById("change").style.visibility="hidden";
            document.getElementById("cz").style.visibility="hidden";
            document.getElementById("user_img").style.visibility="hidden";
        }
function show_infor_ga() {
    document.getElementById("show_others").style.visibility="hidden";
    document.getElementById("show_infor_gt").style.visibility="hidden";
    document.getElementById("show_ana").style.visibility="visible";
    setTimeout( function(){
        document.getElementById("show_ana").style.visibility="hidden";
        document.getElementById("show_infor_gt").style.visibility="visible";
        document.getElementById("shutdown").style.visibility="visible";
//
//		ss=get_oth_mess();
//                document.getElementById("show_others").innerHTML = ss;

    }, 1.2 * 1000 );
}
		
	</script>
	
	
</body>
</html>
<!--
<div class="btn-group">
			<button type="button" class="btn btn-info">设置</button>
			<button type="button" class="btn btn-info dropdown-toggle" 
					data-toggle="dropdown">
				<span class="caret"></span>
				<span class="sr-only">切换下拉菜单</span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#">查看资料</a></li>
				<li><a href="#">添加好友</a></li>
				<li><a href="#">添加群</a></li>
				<li><a href="JavaScript:show_others()">显示聊天框</a></li>
				<li><a href="javascript:show_info_get()">信息提示</a></li>
				<li class="divider"></li>
				<li><a href="#">其他</a></li>
			</ul>
		</div>
	
	<button onClick="" class="btn btn-info">注销</button>-->
