@charset "utf-8";
.chatbox {
    width: 235px;
    background: #CCFFCC;
    border-radius: 6px;
    overflow: hidden;
    height: 484px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -115px;
    overflow-y: scroll;
    /*	overflow: auto;*/

}


.chatbox scroll{
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}
.topmenu {
    /*    height: 30px;*/
    /*    width: 235px;*/

}

.top_button {
    border: 1px #ffffff;
    width: 67px;
    background: #4C707B;
    height: 30px;
    border-radius: 20px;
}
.top_button:hover{
    background: #647485;
}
.fenge{
    display: block;
    width: 215px;
    height: 20px;
    background-color: #575A36;
    border-radius: 5px;
}
.list_button {
    width: 215px;
    color: #000000;
    background-color: #617D61;
    border:0px #ffffff;
    border-radius: 12px;
}
.list_button:hover{
    background-color: #4C7B61;
}


.friendslist {
    position: absolute;
    top: 0;
    left: 0;
    width: 235px;
    height: 800px;
    border: 1px

}

.abl {
    position: absolute;

    visibility: hidden;
}

.friend {
    height: 60px;
    width: 235px;
    border-bottom: 1px solid #e7ebee;
    position: relative;


}

.friend:hover {
    background: #f1f4f6;
    cursor: pointer;
}

.cluster {
    height: 60px;
    width: 235px;
    border-bottom: 1px solid #e7ebee;
    position: relative;
}

.cluster:hover {
    background: #f1f4f6;
    cursor: pointer;
}

.history {
    height: 60px;
    width: 235px;
    border-bottom: 1px solid #e7ebee;
    position: relative;
}

.history:hover {
    background: #f1f4f6;
    cursor: pointer;
}
.sav{
    background-color: #BBDABB;
    border-radius: 5px;
}
.imgaa1 {
    margin-top: 12px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 12px;
    border: 3px solid #fff;
}


.pp1 {
    padding: 15px 0 0 0;
    position: absolute;
    top: -3px;
    left: 80px;
    width: 165px;
}

.pp1 strong a{
    font-weight: 600;
    font-size: 15px;
    color: #2B3E4E;
}

.pp1 span {
    font-size: 13px;
    font-weight: 400;
    color: #445D6F;
}

.status {
    background: #26c281;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 31px;
    right: 17px;
}

.status.away {
    background: #ffce54;
}

.status.inactive {
    background: #eaeef0;
}

.lline {
    background-color: rgb(63, 63, 141);
    /*    size: 1.5px*/
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0
}
#show_div{
    position: absolute;
    background-color: #3B983A;
    border: #167870;
    border-width: thick;
    border-radius: 5px;

}
#show_div a{
    color: #761c19;
}